@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;700&display=swap");

/************************/
/*       General        */
/************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Oswald, sans-serif;
  height: 100%;
  overflow-x: hidden;
  /* background-color: rgb(240, 240, 240); */
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.about,
.portfolio,
.contact {
  padding: 2em 1em;
}

.section-heading {
  padding: 1em 0em;
  text-align: center;
}

hr {
  width: 10%;
  margin: auto;
}

.about,
.portfolio,
.contact {
  margin: 1em;
}

/************************/
/*       Nav Bar        */
/************************/

.main-nav {
  display: flex;
  min-height: 10vh;
  background-color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: white;
}

.nav-header {
  width: 50%;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  padding-left: 3em;
}
.nav-header h1 a {
  color: black;
}

/*******************************/
/*     Mobile Menu Container   */
/*******************************/

.mobile-menu {
  margin-right: 1em;
}

.mobile-menu div {
  width: 25px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  /* Burger Menu Transition to 'X' */
  transition: all 0.3s ease;
}

.nav-list {
  position: absolute;
  background-color: white;
  right: 0;
  top: 8vh;
  width: 50%;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.nav-list ul {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5em;
}

.nav-list li {
  padding: 2em;
}

.nav-list a {
  color: black;
  text-transform: uppercase;
}

.nav-item {
  opacity: 0;
}

.open {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/************************/
/*       Headline       */
/************************/

.headline {
  width: 100%;
  background-image: url(../img/grayscale-photo-of-computer-laptop-near-white-notebook-and-169573.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 8em;
  padding-bottom: 3em;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
}

.headline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.headline-text,
.portfolio-btn {
  position: relative;
  width: 90%;
  margin: auto;
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg);
}

.headline h2,
.headline p {
  padding: 20px 5px;
  color: white;
}

.headline h2 {
  font-size: 2rem;
}

.headline p {
  margin-top: 2em;
  font-size: 1em;
}

.portfolio-btn {
  width: 50%;
  margin: auto;
}

.portfolio-btn a {
  margin-top: 2.5em;
  display: block;
  color: white;
  text-align: center;
  padding: 1em;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #c94e4e;
}

.remove {
  opacity: 0;
  animation: headlineDiv 2s ease-in-out;
}

.addHeadline {
  animation: fadeinHeadline 2s ease-in-out;
}

/************************/
/*        About         */
/************************/

.about-headline {
  width: 80%;
  margin: auto;
  font-size: 1.4em;
  text-align: center;
  font-weight: lighter;
}

.skill-list {
  text-align: center;
}

.name {
  font-weight: bolder;
}

.about {
  margin-top: 2em;
}

/************************/
/*      Portfolio       */
/************************/

/* Added for Larger Screen Devices */
.add {
  z-index: 1000;
}

.projects {
  margin-top: 2em;
}

.project-gif {
  position: relative;
}

.project-gif img {
  display: block;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 0;
}

.project-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-header p,
.project-btn a {
  margin: 1em;
}

.html,
.css,
.javascript,
.fetch,
.project-btn a {
  padding: 0.5em;
  border-radius: 10%;
  color: white;
}

.html {
  background-color: #ff6d00;
}

.css {
  background-color: #039be5;
}

.javascript {
  background-color: #f2bf21;
}

.fetch {
  background-color: #1ea49b;
}

.project-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.project-btn:hover {
  opacity: 1;
}

.close-headline {
  display: none;
}

.close-headline div {
  width: 25px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.close-left {
  transform: rotate(45deg) translateX(10px);
  -webkit-transform: rotate(45deg) translateX(10px);
  transform-origin: 30%;
  -webkit-transform-origin: 30%;
}

.close-right {
  transform: rotate(-45deg) translateY(10px);
  -webkit-transform: rotate(-45deg) translateY(10px);
  transform-origin: 22%;
  -webkit-transform-origin: 22%;
}

/************************/
/*       Contact        */
/************************/

.contact-btn-container {
  padding: 2em 0em;
  font-weight: lighter;
}

.contact-btn-container p {
  font-size: 1.4em;
}

.contact-btn {
  margin-top: 2em;
  padding: 0.8em;
  color: white;
  background-color: #c94e4e;
  border-radius: 10px;
  text-transform: uppercase;
  display: inline-block;
}

.social-media p {
  font-size: 1.4em;
  font-weight: lighter;
}

.social-media a img {
  width: 50px;
  height: 50px;
}

.contact-btn-container,
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

/************************/
/*      KeyFrames       */
/************************/

@keyframes menuitems {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes headlineDiv {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes fadeinHeadline {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/************************/
/*     Media Query      */
/************************/

@media screen and (min-width: 768px) {
  /************************/
  /*       Nav Bar        */
  /************************/

  .nav-item {
    opacity: 1;
  }

  .nav-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .nav-list {
    position: static;
    height: 10vh;
    transform: translateX(0);
  }

  .nav-list ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    padding-top: 0;
  }

  /*******************************/
  /*     Mobile Menu Container   */
  /*******************************/

  .mobile-menu {
    display: none;
  }

  /*******************************/
  /*          Headline           */
  /*******************************/

  .headline-text h2 {
    font-size: 3em;
  }

  .headline-text p {
    font-size: 2em;
  }

  /*******************************/
  /*            About            */
  /*******************************/

  .about-headline {
    font-size: 1.5em;
  }

  /*******************************/
  /*          Portfolio          */
  /*******************************/

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
  }

  .project-two,
  .project-four {
    grid-column: 2 / 3;
  }

  .project-header p {
    margin: 0.5em;
  }

  .project-gif {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-gif img {
    width: 80%;
  }

  .project-gif img {
    width: 80%;
    height: 250px;
  }

  .project-btn {
    width: 80%;
  }

  /*******************************/
  /*          Contact            */
  /*******************************/

  .contact-btn-container p,
  .social-media p {
    font-size: 1.5em;
    text-decoration: underline;
  }

  .contact-btn {
    font-size: 1.2em;
  }

  .social-media a img {
    width: 75px;
    height: 75px;
  }

  .social-media p {
    grid-area: socialHeading;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "contactHr contactHr"
      "contact contact"
      "contactBtn social";
  }

  .contact hr {
    grid-area: contactHr;
  }

  .contact .section-heading {
    grid-area: contact;
  }

  .contact-btn-container {
    grid-area: contactBtn;
  }

  .social-media {
    grid-area: social;
    padding: 1.4em 0em;
    border-left: 1px solid gray;
  }
}

@media screen and (min-width: 1024px) {
  .main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "headline about"
      "headline contact";
  }

  .main-nav {
    display: none;
  }

  .headline {
    padding-bottom: 15em;
    grid-area: headline;
    z-index: 1;
    -webkit-transform: skewY(0deg);
    -moz-transform: skewY(0deg);
    -ms-transform: skewY(0deg);
    -o-transform: skewY(0deg);
    transform: skewY(0deg);
  }

  .headline-text,
  .portfolio-btn {
    -webkit-transform: skewY(0deg);
    -moz-transform: skewY(0deg);
    -ms-transform: skewY(0deg);
    -o-transform: skewY(0deg);
    transform: skewY(0deg);
  }

  .about {
    grid-area: about;
  }

  .close-headline {
    display: block;
  }

  .portfolio {
    margin-top: 4em;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 65%;
  }

  .projects {
    margin-top: 0em;
  }

  .project-one,
  .project-two,
  .project-three,
  .project-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project-gif {
    width: 80%;
    margin: auto;
  }

  .project-info {
    margin-bottom: 0em;
  }

  .contact {
    grid-area: contact;
    padding-bottom: 5em;
  }
}
